body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B98B3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: #FFA558;
  border-radius: 15px;
  padding: 6px;
}

button:hover{
  background-color: #B36B2D;
}

h1{
  border-radius: 8px;
  background-color: #59E2FF;
  width: 500px;
  text-align: center;
}

.name ,.grade ,.credit ,p{
  border-radius: 15px;
  font-size: 20px;
}

.coursecard{
  border-radius: 12px;
  padding-left: 15px;
  margin:5px;
  background-color: #FFD4AB;
  padding-right: 15px;
  max-width:fit-content;

  
}
td{
  width: 100%;
}

h1 ,div{
  margin: 0 auto;
  overflow: auto;
}
div{
  margin-left: 20%;
  margin-right: 20%;
}